asgiref==3.11.0
Django==6.0.1
django-axes==8.3.1
django-jazzmin==3.0.1
et_xmlfile==2.0.0
numpy==2.4.3
openpyxl==3.1.5
pandas==3.0.1
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.5
stripe==13.0.1
tzdata==2025.3
xhtml2pdf==0.2.17