{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between mb-3">
        <h2>Facturas</h2>

        <a href="{% url 'crear_factura' %}"
           class="btn btn-primary">

           Nueva Factura
        </a>
    </div>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th>Número</th>
                <th>Proveedor</th>
                <th>Fecha</th>
            </tr>
        </thead>

        <tbody>

            {% for factura in facturas %}

            <tr>
                <td>{{ factura.numero }}</td>
                <td>{{ factura.proveedor }}</td>
                <td>{{ factura.fecha }}</td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}