{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'bitacora/css/lista.css' %}">

<div class="card audit-card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0 bitacora-title">
            <i class="fa-solid fa-clipboard-list me-2"></i> Bitácora del Sistema
        </h5>
    </div>

    <div class="card-body audit-card-body">
        <div class="table-responsive audit-workspace">
            {% include 'bitacora/_partials/filtros.html' %}
            {% include 'bitacora/_partials/tabla_eventos.html' %}
        </div>
    </div>
</div>

<script src="{% static 'bitacora/js/lista.js' %}"></script>
{% endblock %}

